/*
colors:
#1C94C4 blue
#FBCB09 orange
#C77405 brown
#FDF5CE beige
#ccc grey
#333 black
#FD9 light orange
*/

*{
	padding: 0px;
	margin: 0px;
}

body,td{
	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
}

.clr:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

h2{
	font-size:12px
	
}

a{
	color:#333;
	text-decoration:none;
}

a:hover{
	color:#C77405;
	text-decoration:underline
}

select{
	background:#fff;
	color:#1C94C4;
	border: 1px solid #ccc
}

select option{
	color:#1C94C4;
	background:#fff
}

.wrapper{
	width: 1250px;
	margin:auto;
}


/* status fields */

td.status div.container{
	position:relative;
	width: 200px;
	margin: -4px 0 -3px 0;
	height:16px;
}

td.status small{
	font-size:8px;
	color:#333
}


td.status div:not(.container){
	position:absolute;
	top:0;
	left:0px;
}

td.status div.progress{
	width: 130px;
	height:16px;
	font-size:8px;
	vertical-align:middle;
}

td.status div.working{
	text-align:center;
	width:130px;
	margin-top:2px;
}

td.status .animated .ui-progressbar-value { background-image: url(ui-lightness/images/pbar-ani.gif); }

.working{ color: #333000; font-weight:normal; }
.default{ color: #333; font-weight:bold; }
.queued{ color: #333; font-weight:bold; text-shadow: 1px 1px #fff; }
.error{ color: #cc0000; font-weight:bold; text-shadow: 1px 1px #fff; }
.success{ color: #00aa00; font-weight:bold; text-shadow: 1px 1px #fff; }

/* end status fields */


/* .header start */
.wrapper .header{
	height: 30px;
}

/* .header end */


/* ul.queues start */

.wrapper .queueContainer{
	float:left;
	width: 130px;
}

.wrapper ul.queues{
	padding: 0px 15px 10px 15px;
	list-style-type: none;
	width: 130px;
	-moz-border-radius: 25px 10px;
	border-radius: 25px 10px;
	box-shadow: 2px 2px 5px 3px #666;
	margin-bottom:20px;
}

.wrapper ul.queues li h2{
	margin-top: 20px;
}
.wrapper ul.queues li a{
	margin: 5px;
	cursor: pointer;
	text-shadow: 1px 1px #fff;
	text-decoration: none;
	color: #333;
	display:block;
}

.wrapper ul.queues li:hover a{
	color: #C77405;
	text-decoration: underline;
}

.wrapper ul.queues li.active a{
	font-weight:bold;
}

.wrapper ul.queues li.active:hover a{
	color: #333;
	text-decoration: none;
	cursor:default;
}


/* ul.queues end */
.wrapper .fastDeploy{
	float: right;
	width: 1065px;
	margin-bottom:10px;
}

.fastDeploy input,
.fastDeploy select{
	margin-right: 5px;
	display:inline-block;	
}

.fastDeploy input[type = submit]{
	padding: 3px;
	font-size: 10px;	
}

.wrapper .fastDeploy form[name=syncEnv]{
	float:right;
}


/* standard table */
table{
	border-collapse:collapse;
	width: 100%;
}

table tbody{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top #EEEEEE
}

table tbody tr:nth-Child(even){
	background: #fff;
}

.containerWrapper table tbody{
	border-top:1px solid #ccc;
}

/* standard table end */

table tbody.appView th{
	text-align:left;
	font-weight:bold;
	font-size:10px;
	background:#777;
	color:#fff;
	padding:2px 5px;
}



/* table.tableEntries start */
.wrapper .tableEntries{
	float: right;
	width: 1065px;
	max-height: 300px;
	overflow:auto;
	box-shadow: 2px 2px 5px 3px #666;
}

.wrapper .tableEntries tbody{
	max-height: 300px;
}

.wrapper .tableEntries thead td{
	font-weight:bold;
	color: #fff;
}

.wrapper .tableEntries thead td input{
	display: inline-block;
	margin-left: 10px;
	width: 80px;
	border: 1px solid #CCC;
}

.wrapper .tableEntries tr td{
	padding: 5px;
}


.wrapper .tableEntries tbody tr.active td{
	background: #FD9;
}

/* table.tableEntries end */

/* table.queueEntries start */
.wrapper .queueEntries{
	float: right;
	width: 1065px;
	max-height: 300px;
	overflow:auto;
	box-shadow: 2px 2px 5px 3px #666;
}

.wrapper .queueEntries tbody{
	max-height: 300px;
}

.wrapper .queueEntries thead td{
	font-weight:bold;
	color: #fff;
}

 .wrapper .queueEntries thead tr td:nth-child(1){
 width: 100px;
 }
 .wrapper .queueEntries thead tr td:nth-child(2){
 width: 350px;
 }
 .wrapper .queueEntries thead tr td:nth-child(3){
 width: 150px;
 }
 .wrapper .queueEntries thead tr td:nth-child(5){
 width: 120px;
 }
 .wrapper .queueEntries thead tr td:nth-child(6){
 width: 60px;
 }

.wrapper .queueEntries tr td{
	padding: 5px;
}


.wrapper .queueEntries tbody tr.active td{
	background: #FD9;
}

/* table.queueEntries end */

/* .entryDetails table start */


.wrapper .entryDetails table{
	box-shadow: 2px 2px 5px 3px #666;
}

.entryDetails table .hostView tr td:nth-child(1){
	width:150px;	
}

.entryDetails table .hostView tr td:nth-child(3){
	width:820px;	
}


.entryDetails table .appView tr td:nth-child(1){width:280px;}
.entryDetails table .appView tr td:nth-child(2){width:220px;}
.entryDetails table .appView tr td:nth-child(3){width:200px;}
.entryDetails table .appView tr td:nth-child(4){width:180px;}
.entryDetails table .appView tr td:nth-child(6){width:60px;}

.containerWrapper.entryDetails table .appView tr td:nth-child(1){width:200px;}
.containerWrapper.entryDetails table .appView tr td:nth-child(2){width:160px;}
.containerWrapper.entryDetails table .appView tr td:nth-child(3){width:150px;}
.containerWrapper.entryDetails table .appView tr td:nth-child(4){width:140px;}
.containerWrapper.entryDetails table .appView tr td:nth-child(6){width:60px;}

.containerWrapper.entryDetails table .appView tr th input{
	display:inline-block;
	margin-left:10px;
	width: 80px;
	border:1px solid #ccc
}

.entryDetails table td,
.entryDetails table th{
	padding: 5px;
}

.entryDetails table tbody tr td{
	vertical-align:top;
	margin-top: 5px;
}


.entryDetails table tbody tr td div{
	display: inline-block;
}

.entryDetails table.appShow tbody tr td div{
	display:block;
}

.entryDetails table tbody tr td div.application ,
.entryDetails table tbody tr td div.host {
    font-size: 10px;
}

.entryDetails table tbody tr td div.application span,
.entryDetails table tbody tr td div.host span{
	height:16px;
	width: 16px;
	margin:0px 2px 0px 6px;
	vertical-align:middle;
	display: inline-block;
	position:relative;
}

.entryDetails table tbody tr td div.host span{
	background: url(../images/icons/HardDisk.png)
}

.entryDetails table tbody tr td div.application .TANUKI_DAEMON{
	background: url(../images/icons/Intranet.png)
}

.entryDetails table tbody tr td div.application .TANUKI_TOMCAT{
	background: url(../images/icons/Earth.png)
}

.entryDetails table tbody tr td div.application .STATIC_CONTENT{
	background: url(../images/icons/Shield.png)
}

.entryDetails table tbody tr td div.application .TARBALL{
	background: url(../images/icons/Archive.png)
}

.entryDetails table tbody tr td .container{
	margin-top:0px;	
}

.entryDetails table tbody tr td ul{
	list-style-type:none;
	display:inline-block;
	vertical-align:top;
	max-height: 200px;
	padding-right:20px;
	overflow:auto;
}

.entryDetails table tbody ul li{
	padding: 2px 2px 2px 20px;
	margin: 0px 0px 5px 5px;	
	display:inline-block;
	width:750px;
}

.entryDetails table tbody ul li:not(:first-child){
	display:none;
}

.entryDetails table tbody td.active ul li:not(:first-child){
	display:block;
}

.entryDetails table tbody ul li.SCRIPT_ERROR{
	background:url(../images/icons/Error.png) no-repeat;

}

.entryDetails table tbody ul li.DEPLOYMENT_ERROR{
	background:url(../images/icons/Danger.png) no-repeat;
}

.entryDetails table tbody ul li.SCRIPT_WARNING,
.entryDetails table tbody ul li.DEPLOYMENT_WARNING{
	background:url(../images/icons/Warning.png) no-repeat;
}

.entryDetails table tbody ul li.SCRIPT_INFO,
.entryDetails table tbody ul li.AGENT_INFO,
.entryDetails table tbody ul li.DEPLOYMENT_INFO{
	background:url(../images/icons/Info.png) no-repeat;

}

.entryDetails table tbody tr:first-Child td{
	text-align:left;
}

/* .entryDetails table end */

/* for tabs */
.ui-tabs  { 
	overflow:hidden;
}
.ui-tabs .ui-state-default a{
	 color: #999999;
}
.ui-tabs .ui-state-default.ui-state-active a{
	 color: #EB8F00;
}
/* tabs end */

.selectList ul{
	border: 1px solid #ccc;
	list-style-type:none;
	background:#fff;
}

.selectList h3{
	margin-bottom:4px;
}

.selectList h3 a.all,
.selectList h3 a.none{
	float:right;
	text-decoration:underline;
	display:inline-block;
	margin-left:5px;
	font-weight:normal;
}

.selectList ul li{
	border: #ccc;
	padding:3px;
	display:block;
	cursor:pointer;
}

.selectList ul li.active{ 
	background:#FD9;	
}

/* dialog styles */



.ui-dialog-content .right{
 	width: 600px;
	display:inline-block;
	vertical-align:top;
}

.ui-dialog-content .left{
	width: 300px;
	display:inline-block;
	vertical-align:top;
	margin-right:24px;
}

.ui-dialog-content .teams{
}

.ui-dialog-content .selectList.teams ul{
	height:154px;
	overflow:auto;
}

.ui-dialog-content .deploymentPlans{
	margin-top:24px;
}

.ui-dialog-content .selectList.deploymentPlans ul{
	height:154px;
	overflow:auto;
}

.ui-dialog-content .selectList.deploymentPlans ul li:first-child{
	background:#ccc;
	color:#1C94C4;
}

.ui-dialog-content .applications{
	width: 300px;
	display:inline-block;
	vertical-align:top;
	margin-right:24px;
}

.ui-dialog-content .selectList.applications ul{
	height:352px;
	overflow:auto;
}


.ui-dialog-content .details{
	display:inline-block;
	width: 250px;
	vertical-align:top;
}

.ui-dialog-content .details input[type=text],textarea{
	width: 250px;
}

.ui-dialog-content .details label{
	display:block;
	margin-bottom:2px;
	font-weight:bold;
}

.ui-dialog-content .details span{
	display:block;
	font-weight:normal;
}

.ui-dialog-content .details p{
	margin-bottom: 10px;
	font-weight:bold;
}

.ui-dialog-content .details p span{
	font-weight:normal;
}


.ui-dialog-content .revisionBox{
	margin-top: 10px;
}


.wrapper .queueEntryHeader {
    float: right;
    padding: 5px 0px 5px 0px;
    font-size: 20px;
    text-align: center;
    width: 1065px;
    margin-bottom:20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px #666;
}

#tooltip {
    text-align: center;
    vertical-align: middle;
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 6px;
	opacity: 0.85;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #666;
}

#tooltip.wide {
    width: 150px;
    float: right;
}
.important {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #660000;
}

.important.tooltip {
    text-align: right;
    vertical-align: top;
}

.small {
    font-size: 10px;
}


#tooltip.viewport-right {
}

/* tableEntryDetails */
.tableEntryDetails p{
	margin-bottom:10px;
}

.tableEntryDetails label{
	display:block;
	font-weight:bold;
	margin-bottom:3px;
}
.tableEntryDetails p span{
	display:block
}

.tableEntryDetails .selectList ul{
	height:300px;
	overflow:auto;
}

.tableEntryDetails .col{
	width:300px;
	float:left
}